{% extends "network/layout.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static 'network/form.js' %}"></script>
{% endblock %}

{% block body %}
  {% if user.is_authenticated %}
    <form action="{% url 'new_post' %}" method="post" id="new-post-form">
      <div class="form-group">
        <h2>New Post</h2>
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
  {% endif %}

  <h2>All Posts</h2>
  <div>
    {% include "network/post.html" with posts=posts %}
  </div>
{% endblock %}